<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:1200px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title">内容编辑</h5>
      </div>
      <div class="modal-body">
        <div text-angular ng-model="htmlcontent" ></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-lg" data-ok="modal" ng-click="saveContent()">保存</button>
        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>
