<div class="col-lg-6">
  <div class="page-header">
    <h1>目录树 <small>拖拽点击编辑</small></h1>
  </div>
  <a href="javascript:;" ng-click="newItem()" >新增根节点</a>
  <!-- Nested list template -->
  <script type="text/ng-template" id="items_renderer.html">
    <div ui-tree-handle >
      <a class="btn  btn-xs btn-chevron" ng-if="item.items.length>0" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon glyphicon-plus': collapsed, 'glyphicon glyphicon-minus': !collapsed}"></span></a>
      {{item.title}}

      <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
      <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this);" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
      <a class="pull-right btn btn-success btn-xs" data-nodrag ng-click="editItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-edit"></span></a>
    </div>
    <ol ui-tree-nodes="options" ng-model="item.items" ng-class="{hidden: collapsed}">
      <li ng-if="item.items" ng-repeat="item in item.items" ui-tree-node ng-include="'items_renderer.html'">
      </li>
    </ol>
  </script>
  <div ui-tree="options" class="tree-container">
    <ol ui-tree-nodes ng-model="list" >
      <li ng-repeat="item in list" ui-tree-node ng-include="'items_renderer.html'"></li>
    </ol>
  </div>
</div>
<div class="col-lg-6">

  <div class="page-header">
    <h1>节点信息 <small>详细信息</small></h1>
  </div>
  <!--<pre class="code">{{ itemShow | json }}-->
  <!--</pre>-->
  <form ng-if="itemShow.id"  class="form-horizontal" style="background-color: #f5f5f5;padding: 9.5px;border: 1px solid #ccc;">
    <div class="form-group">
      <label for="inputTitle" class="col-sm-2 control-label">标题</label>
      <div class="col-sm-10">
        <input type="text" id="inputTitle" class="form-control" data-text="{{itemShow.title}}" value= "{{itemShow.title}}" placeholder="title">
      </div>
    </div>
    <div class="form-group">
      <label for="inputLink" class="col-sm-2 control-label">链接</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputLink" value= "{{itemShow.link}}"  placeholder="">
      </div>
    </div>
    <div class="form-group">
      <label for="target" class="col-sm-2 control-label">打开方式</label>
      <div class="col-sm-10">
        <select  id="selectTarget" value="{{itemShow.target}}" >
          <option value="0">本窗口</option>
          <option value="1">新窗口</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" ng-click="saveItem()">保存</button>
      </div>
    </div>
  </form>
</div>
<div class="col-lg-12">
  <button type="button" class="btn btn-primary " data-ok="modal" ng-click="saveAll()">保存</button>
</div>