@charset "UTF-8";
/* line 1, common.scss */
html {
  height: 100%;
}

/* line 2, common.scss */
body {
  font: 14px/1.5 '微软雅黑';
  word-wrap: break-word;
  word-break: break-all;
  -webkit-text-size-adjust: none;
  background: #fff;
  color: #333;
}

/* line 3, common.scss */
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form, ul, ol, blockquote {
  margin: 0;
}

/* line 4, common.scss */
img {
  border: 0 none;
  vertical-align: middle;
}

/* line 5, common.scss */
input, select, textarea {
  font-size: 14px;
  color: #333;
}

/* line 6, common.scss */
input {
  vertical-align: middle;
  padding: 2px;
  margin: 0;
}

/* line 7, common.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 8, common.scss */
select, input, button {
  font: 14px/20px Verdana,Simsun,Helvetica,Arial,sans-serif;
}

/* line 9, common.scss */
em, i, cite, blockquote {
  font-style: normal;
}

/* line 10, common.scss */
ul, ol {
  list-style: none outside;
  padding: 0;
}

/* line 11, common.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

/* line 12, common.scss */
textarea {
  overflow-y: auto;
  padding: 3px;
}

/* line 13, common.scss */
a {
  color: #428bca;
  text-decoration: none;
  outline: 0;
}

/* line 14, common.scss */
a:hover, a:active {
  color: #2a6496;
  text-decoration: none;
}

/* line 15, common.scss */
a:focus {
  outline: 0;
}

/* line 16, common.scss */
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 17, common.scss */
figure {
  margin: 0;
}

/* line 18, common.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, common.scss */
.ppr {
  position: relative;
}

/* line 20, common.scss */
.ppa {
  position: absolute;
}

/* line 21, common.scss */
.fl {
  float: left;
}

/* line 22, common.scss */
.fr {
  float: right;
}

/* line 23, common.scss */
.tl {
  text-align: left;
}

/* line 24, common.scss */
.tc {
  text-align: center;
}

/* line 25, common.scss */
.tr {
  text-align: right;
}

/* line 26, common.scss */
.mlr5 {
  margin: 0 5px;
}

/* line 27, common.scss */
.mt5 {
  margin-top: 5px;
}

/* line 28, common.scss */
.mr5 {
  margin-right: 5px;
}

/* line 29, common.scss */
.mt10 {
  margin-top: 10px;
}

/* line 30, common.scss */
.ml5 {
  margin-left: 5px;
}

/* line 31, common.scss */
.ml10 {
  margin-left: 10px;
}

/* line 32, common.scss */
.mr10 {
  margin-right: 10px;
}

/* line 33, common.scss */
.mb10 {
  margin-bottom: 10px;
}

/* line 34, common.scss */
.mb20 {
  margin-bottom: 20px;
}

/* line 35, common.scss */
.pl5 {
  padding-left: 5px;
}

/* line 36, common.scss */
.pb10 {
  padding-bottom: 10px;
}

/* line 37, common.scss */
.pt20 {
  padding-top: 20px;
}

/* line 38, common.scss */
.pl10 {
  padding-left: 10px;
}

/* line 39, common.scss */
.ptb20 {
  padding: 20px 0;
}

/* line 40, common.scss */
.grayc {
  color: #ccc;
}

/* line 41, common.scss */
.gray6 {
  color: #666;
}

/* line 42, common.scss */
.gray9 {
  color: #999;
}

/* line 43, common.scss */
.emstyle {
  font-style: italic;
}

/* line 44, common.scss */
.clear {
  clear: both;
}

/* line 45, common.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 46, common.scss */
.clearfix {
  *height: 1%;
}

/* line 47, common.scss */
.none {
  display: none;
}

/* line 48, common.scss */
.block {
  display: block;
}

/* line 49, common.scss */
.minheight500 {
  min-height: 500px;
  height: auto !important;
  height: 500px;
  overflow: visible;
}

/* line 50, common.scss */
.wrap-box {
  width: 960px;
  margin: 0 auto;
}

/* line 51, common.scss */
.blue, .blue a:link, .blue a:visited {
  color: blue;
}

/* line 52, common.scss */
.blue a:hover {
  color: #f60;
}

/* line 53, common.scss */
.white, .white a:link, .white a:visited {
  color: #fff;
}

/* line 54, common.scss */
.white a:hover {
  color: #ff0;
}

/* line 55, common.scss */
.red, .red a:link, .red a:visited {
  color: #f00;
}

/* line 56, common.scss */
.red a:hover {
  color: #f60;
}

/* line 57, common.scss */
.orange, .orange a:link, .orange a:visited {
  color: #ffa500;
}

/* line 58, common.scss */
.orange a:hover {
  color: #f60;
}

/* line 59, common.scss */
.require-red {
  color: #f60;
  font-family: serif;
  margin-right: 3px;
}

/* common */
/* line 61, common.scss */
.topbar-wrap {
  height: 50px;
  line-height: 50px;
  background: #1A1A1A;
}

/* line 62, common.scss */
.topbar-logo-wrap {
  float: left;
}

/* line 63, common.scss */
.topbar-inner {
  font-size: 18px;
  padding: 0 20px;
}

/* line 64, common.scss */
.topbar-logo {
  float: left;
  width: 150px;
  text-align: center;
}

/* line 65, common.scss */
.navbar-list {
  float: left;
}

/* line 66, common.scss */
.top-info-wrap {
  float: right;
}

/* line 68, common.scss */
.navbar-list li {
  float: left;
}

/* line 69, common.scss */
.navbar-list li a {
  float: left;
  margin-right: 5px;
  padding: 0 25px;
  text-shadow: 1px 1px 1px #000;
}

/* line 70, common.scss */
.navbar-list li a:hover {
  background: #343434;
}

/* line 71, common.scss */
.navbar-list li a.on {
  color: #fff;
  text-shadow: 1px 1px 1px #003;
  background: #033b70;
}

/* line 72, common.scss */
.top-info-list li {
  float: left;
}

/* line 73, common.scss */
.top-info-list li a {
  float: left;
  margin-left: 5px;
  padding: 0 20px;
  display: inline;
  zoom: 1;
}

/* line 74, common.scss */
.top-info-list li a:hover {
  background: #343434;
}

/* line 76, common.scss */
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border linear 0.2s,box-shadow linear 0.2s;
}

/* line 77, common.scss */
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

/* line 79, common.scss */
.insert-tab {
  border-collapse: collapse;
  border: 1px solid #eee;
}

/* line 80, common.scss */
.insert-tab th, .insert-tab td {
  border: 1px solid #eee;
}

/* line 81, common.scss */
.insert-tab tr {
  line-height: 40px;
}

/* line 82, common.scss */
.insert-tab th {
  text-align: right;
  font-weight: normal;
  padding-right: 10px;
  font-size: 14px;
}

/* line 83, common.scss */
.insert-tab td {
  text-align: left;
  padding-left: 10px;
}

/* line 84, common.scss */
.list-page {
  padding: 20px 0;
  text-align: center;
}

/* line 85, common.scss */
.list-page a {
  margin: 0 5px;
  padding: 2px 7px;
  border: 1px solid #ccc;
  background: #f3f3f3;
}

/* line 86, common.scss */
.list-page a:hover {
  background: #e4e4e4;
  border: 1px solid #908f8f;
}

/* line 87, common.scss */
.list-page .current {
  margin: 0 5px;
  padding: 2px 7px;
  background: #f60;
  border: 1px solid #fe8101;
  color: #fff;
}
