@charset "UTF-8";
/* 左侧菜单 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\000032}}
.sidebar-wrap {
  float: left;
  width: 189px;
  min-height: 700px;
  background: #f2f2f2;
  border-right: 1px solid #ccc;
  /*cursor:e-resize;*/
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\000033}}
.main-wrap {
  margin-left: 190px;
  min-height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\000034}}
.sidebar-title {
  height: 40px;
  line-height: 40px;
  text-indent: 1em;
  font-size: 24px;
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\000035}}
.sidebar-title h1 {
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\000036}}
.sidebar-content {
  padding-top: 5px;
}

/* main */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\000039}}
.crumb-wrap {
  height: 40px;
  line-height: 39px;
  border-bottom: 1px solid #e5e5e5;
  background: #f5f5f5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000310}}
.crumb-list {
  padding-left: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000311}}
.crumb-list .icon-font {
  margin-right: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000312}}
.crumb-step {
  margin: 0 5px;
  color: #b2c2e0;
  font-family: serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000313}}
.search-wrap {
  padding: 15px 0;
  border-bottom: 1px solid #e5e5e5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000314}}
.search-tab tr {
  line-height: 35px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000315}}
.search-tab th {
  text-align: right;
  padding-right: 10px;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000316}}
.search-tab td {
  padding: 0 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000317}}
.common-text {
  height: 23px;
  line-height: 23px;
  padding: 2px 4px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000318}}
.result-wrap {
  padding: 10px 20px;
  border-bottom: 1px solid #e5e5e5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000319}}
.result-title {
  line-height: 35px;
  padding-bottom: 5px;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000320}}
.comment-title {
  line-height: 35px;
  margin-bottom: 10px;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000321}}
.result-list a {
  margin-right: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000322}}
.result-list i {
  padding-right: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000323}}
.result-tab {
  border-collapse: collapse;
  border: 1px solid #ddd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000324}}
.result-tab th {
  font-weight: normal;
  font-size: 15px;
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000325}}
.result-tab th, .result-tab td {
  padding: 5px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #e1e1e1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000326}}
.result-tab tr {
  line-height: 35px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000327}}
.result-tab th.tc, .result-tab td.tc {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000328}}
.result-tab tr:nth-child(odd) {
  background: #f9f9f9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000329}}
.result-tab tr:hover {
  background: #f1f1f1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000330}}
.result-tab tr.even-tr {
  background: #e9fff2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000331}}
.comment-tab {
  border-bottom: 1px solid #ddd;
  padding-left: 15px;
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000332}}
.comment-tab a {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000333}}
.comment-tab a.on {
  padding: 0 15px;
  background: #49afcd;
  color: #fff;
  border-radius: 5px 5px 0 0;
}

/* config */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000337}}
.config-items {
  margin-bottom: 25px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000338}}
.config-title {
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000339}}
.config-title h1 {
  font-size: 14px;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000340}}
.config-title h1 i {
  margin-right: 5px;
  font-size: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000341}}
.columns-title {
  padding: 10px 0;
  height: 35px;
  line-height: 35px;
  overflow: hidden;
}

/*.columns-title .comment-tab{padding-left: 0;}*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000343}}
.visitor-img {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000344}}
.visitor-info {
  float: left;
  padding-left: 10px;
  line-height: 23px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000345}}
.visitor-email {
  color: #aaa;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000346}}
.short-wrap a {
  margin-right: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000347}}
.short-wrap a i {
  margin-right: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000348}}
.res-lab {
  display: inline-block;
  width: 150px;
  padding-right: 10px;
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000349}}
.sys-info-list li {
  line-height: 35px;
  border-bottom: 1px dashed #eaeaea;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000350}}
.res-lab {
  color: #909090;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000351}}
.res-info {
  font-size: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000352}}
.sort-input {
  width: 25px;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000353}}
.hidden {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000356}}
.tree-container {
  padding-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000358}}
.tree-container .angular-ui-tree-handle {
  margin: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000362}}
.tree-container .btn-chevron {
  position: absolute;
  left: -18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000368}}
.tree-container .angular-ui-tree-node .active {
  border: 1px dashed #785;
  padding: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000372}}
.tree-container .angular-ui-tree-node .angular-ui-tree-nodes {
  padding-left: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000378}}
.menu-container {
  padding-left: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000381}}
.menu-container .menu-node {
  margin-left: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/dashboard\.scss}line{font-family:\0000383}}
.menu-container .menu-node .glyphicon {
  position: absolute;
  left: -2px;
  top: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\000031}}
html {
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\000032}}
body {
  font: 14px/1.5 '微软雅黑';
  word-wrap: break-word;
  word-break: break-all;
  -webkit-text-size-adjust: none;
  background: #fff;
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\000033}}
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form, ul, ol, blockquote {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\000034}}
img {
  border: 0 none;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\000035}}
input, select, textarea {
  font-size: 14px;
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\000036}}
input {
  vertical-align: middle;
  padding: 2px;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\000037}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\000038}}
select, input, button {
  font: 14px/20px Verdana,Simsun,Helvetica,Arial,sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\000039}}
em, i, cite, blockquote {
  font-style: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000310}}
ul, ol {
  list-style: none outside;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000311}}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000312}}
textarea {
  overflow-y: auto;
  padding: 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000313}}
a {
  color: #428bca;
  text-decoration: none;
  outline: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000314}}
a:hover, a:active {
  color: #2a6496;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000315}}
a:focus {
  outline: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000316}}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000317}}
figure {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000318}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000319}}
.ppr {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000320}}
.ppa {
  position: absolute;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000321}}
.fl {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000322}}
.fr {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000323}}
.tl {
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000324}}
.tc {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000325}}
.tr {
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000326}}
.mlr5 {
  margin: 0 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000327}}
.mt5 {
  margin-top: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000328}}
.mr5 {
  margin-right: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000329}}
.mt10 {
  margin-top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000330}}
.ml5 {
  margin-left: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000331}}
.ml10 {
  margin-left: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000332}}
.mr10 {
  margin-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000333}}
.mb10 {
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000334}}
.mb20 {
  margin-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000335}}
.pl5 {
  padding-left: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000336}}
.pb10 {
  padding-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000337}}
.pt20 {
  padding-top: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000338}}
.pl10 {
  padding-left: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000339}}
.ptb20 {
  padding: 20px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000340}}
.grayc {
  color: #ccc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000341}}
.gray6 {
  color: #666;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000342}}
.gray9 {
  color: #999;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000343}}
.emstyle {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000344}}
.clear {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000345}}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000346}}
.clearfix {
  *height: 1%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000347}}
.none {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000348}}
.block {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000349}}
.minheight500 {
  min-height: 500px;
  height: auto !important;
  height: 500px;
  overflow: visible;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000350}}
.wrap-box {
  width: 960px;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000351}}
.blue, .blue a:link, .blue a:visited {
  color: blue;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000352}}
.blue a:hover {
  color: #f60;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000353}}
.white, .white a:link, .white a:visited {
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000354}}
.white a:hover {
  color: #ff0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000355}}
.red, .red a:link, .red a:visited {
  color: #f00;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000356}}
.red a:hover {
  color: #f60;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000357}}
.orange, .orange a:link, .orange a:visited {
  color: #ffa500;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000358}}
.orange a:hover {
  color: #f60;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000359}}
.require-red {
  color: #f60;
  font-family: serif;
  margin-right: 3px;
}

/* common */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000361}}
.topbar-wrap {
  height: 50px;
  line-height: 50px;
  background: #1A1A1A;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000362}}
.topbar-logo-wrap {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000363}}
.topbar-inner {
  font-size: 18px;
  padding: 0 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000364}}
.topbar-logo {
  float: left;
  width: 150px;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000365}}
.navbar-list {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000366}}
.top-info-wrap {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000368}}
.navbar-list li {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000369}}
.navbar-list li a {
  float: left;
  margin-right: 5px;
  padding: 0 25px;
  text-shadow: 1px 1px 1px #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000370}}
.navbar-list li a:hover {
  background: #343434;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000371}}
.navbar-list li a.on {
  color: #fff;
  text-shadow: 1px 1px 1px #003;
  background: #033b70;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000372}}
.top-info-list li {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000373}}
.top-info-list li a {
  float: left;
  margin-left: 5px;
  padding: 0 20px;
  display: inline;
  zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000374}}
.top-info-list li a:hover {
  background: #343434;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000376}}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border linear 0.2s,box-shadow linear 0.2s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000377}}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000379}}
.insert-tab {
  border-collapse: collapse;
  border: 1px solid #eee;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000380}}
.insert-tab th, .insert-tab td {
  border: 1px solid #eee;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000381}}
.insert-tab tr {
  line-height: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000382}}
.insert-tab th {
  text-align: right;
  font-weight: normal;
  padding-right: 10px;
  font-size: 14px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000383}}
.insert-tab td {
  text-align: left;
  padding-left: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000384}}
.list-page {
  padding: 20px 0;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000385}}
.list-page a {
  margin: 0 5px;
  padding: 2px 7px;
  border: 1px solid #ccc;
  background: #f3f3f3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000386}}
.list-page a:hover {
  background: #e4e4e4;
  border: 1px solid #908f8f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/common\.scss}line{font-family:\0000387}}
.list-page .current {
  margin: 0 5px;
  padding: 2px 7px;
  background: #f60;
  border: 1px solid #fe8101;
  color: #fff;
}

/* fix tobe btn
 * 消息通知
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/page_notification\.scss}line{font-family:\000034}}
.btn.disabled {
  color: #adadad;
  cursor: not-allowed;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/page_notification\.scss}line{font-family:\000036}}
.page-notification-title {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/page_notification\.scss}line{font-family:\000039}}
.page-notification-message {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/page_notification\.scss}line{font-family:\0000315}}
.page-notification-message a,
.page-notification-message label {
  color: #ffffff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/page_notification\.scss}line{font-family:\0000319}}
.page-notification-message a:hover {
  color: #cccccc;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/page_notification\.scss}line{font-family:\0000324}}
.page-notification-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  -webkit-text-shadow: 0 1px 0 #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/page_notification\.scss}line{font-family:\0000338}}
.page-notification-close-button:hover,
.page-notification-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}

/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/page_notification\.scss}line{font-family:\0000351}}
button.page-notification-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/page_notification\.scss}line{font-family:\0000358}}
.page-notification-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/page_notification\.scss}line{font-family:\0000363}}
.page-notification-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/page_notification\.scss}line{font-family:\0000368}}
.page-notification-top-left {
  top: 12px;
  left: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/page_notification\.scss}line{font-family:\0000372}}
.page-notification-top-right {
  top: 12px;
  right: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/page_notification\.scss}line{font-family:\0000376}}
.page-notification-bottom-right {
  right: 12px;
  bottom: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/page_notification\.scss}line{font-family:\0000380}}
.page-notification-bottom-left {
  bottom: 12px;
  left: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/page_notification\.scss}line{font-family:\0000384}}
.page-notification-wrap {
  position: fixed;
  z-index: 999999;
  /*overrides*/
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/page_notification\.scss}line{font-family:\0000390}}
.page-notification-wrap * {
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/page_notification\.scss}line{font-family:\0000395}}
.page-notification-wrap > div {
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 306px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  box-shadow: 0 0 12px #999999;
  color: #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/page_notification\.scss}line{font-family:\00003112}}
.page-notification-wrap > :hover {
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/page_notification\.scss}line{font-family:\00003121}}
.page-notification-wrap > .page-notification-info {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/page_notification\.scss}line{font-family:\00003124}}
.page-notification-wrap > .page-notification-error {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/page_notification\.scss}line{font-family:\00003127}}
.page-notification-wrap > .page-notification-success {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/page_notification\.scss}line{font-family:\00003130}}
.page-notification-wrap > .page-notification-warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/page_notification\.scss}line{font-family:\00003133}}
.page-notification-wrap.page-notification-top-full-width > div,
.page-notification-wrap.page-notification-bottom-full-width > div {
  width: 96%;
  margin: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/page_notification\.scss}line{font-family:\00003138}}
.page-notification {
  background-color: #030303;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/page_notification\.scss}line{font-family:\00003141}}
.page-notification-success {
  background-color: #51a351;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/page_notification\.scss}line{font-family:\00003144}}
.page-notification-error {
  background-color: #bd362f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/page_notification\.scss}line{font-family:\00003147}}
.page-notification-info {
  background-color: #2f96b4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eden\/work\/bindoon\/dbcfg\/app\/public\/styles\/page_notification\.scss}line{font-family:\00003150}}
.page-notification-warning {
  background-color: #f89406;
}
